body{
    text-align:center;
    background-color:rgb(212, 223, 254);
    font-family:'Arial Narrow', Arial, sans-serif;
}
button{
    background-color:rgb(148, 158, 248);
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    border-radius: 7px;
    border:none;
    padding:10px;
}

.img-spin{
    margin-top:-45px;
}
html{
    cursor: url('fishing-rod.png'), auto;
}
.glass-jelly{
    animation: jelly 18s ease-in-out infinite;
}
@keyframes jelly{
    0%{
        transform: translateY(0vw);
    }
    50%{
        transform: translateY(-125vw);
    }
    100%{
        transform: translateY(0vw);
    }
}